body {
    background-image: url("../media/tile.jpg");
    text-align: center;
}

#myBody {
    width: 95%;
    margin: auto;
}

hr {
    border: 1px;
}

h1 {
    font-family: cursive;
}

.taskData {
    background-image: url("../media/formbg.jpg");
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.resProj{
    direction: ltr;
    display: flex;
    /* flex-direction: row; */
}

.note{
    background-image: url("../media/notebg.png");
    background-repeat: no-repeat;
    width: 200px;
    height: 250px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.noteBody{
    padding-left: 5%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 20% 50% 10% 10%;
    grid-template-columns: repeat(6, 1fr);
}

.delIcon{
    grid-column: span 6;
    margin-left: 55%;
    margin-top: 15%;

}

.delIconImage {
    width: 20px;
    display: none;
}

.noteBody:hover .delIconImage{
    display: initial;
}

.textArea{
    grid-column: span 5;
    max-height: 250px;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.dateArea{
    grid-column: span 4;
    margin-right: 32%;
    margin-top: 10%;
}
.timeArea{
    grid-column: span 4;
    margin-right: 60%;
    margin-top: 5%;
}
